.subfield {
    display: flex;
    flex-direction: row;
}

.halfWidth {
    width: 50%;
}

.header {
    padding-left: 1em;
}

.elevated {
    padding-top: 1em;
    padding-left: 1em;
    /* margin-bottom: 1.5em; */
    border-bottom: 1px solid grey;
    border-radius: 20px;
}