.user-data-container {
    /* margin-top: 0.5em; */
    display: flex;
}


.user-data-short-value {
    margin-top: -0.2em;
    height: 75%;
    text-align: right;
}

.user-data-button {
    margin-top: -0.5em;
    text-align: center;
    margin-bottom: 0.2em; 

}