.computations-edit-val-form-control {
    width: 29em;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.computations-formQuery {
    display: flex;
    flex-direction: row;
    padding-bottom: 1.5em;
}

.computations-formButton {
    height: 2.8em;
    margin-top: 15px;
    align-self: center;
    margin-right: 0.5em;
}

.computations-divider {
    padding-bottom: 1em;
}