
html,
body,
div#__next{
    height: 100%;
    margin: 0;
    padding: 0;
}

div#__next {
    display: flex;
    flex-direction: column;
}


main {
    flex: 1;
    /*background-color: #eee;*/
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
